@{
    string eventName = ViewBag.Message;
    string eventDisplayName = eventName;

    string backgroundImageUrl = "/Content/Pictures/Countdowns/" + eventName + ".jpg";


    // Assign EvenType 1
    int eventType = 0;
    if (eventName == "Spring" || eventName == "Summer" || eventName == "Autumn" || eventName == "Winter")
    {
        eventType = 1;
    }

    // Assign ExtraEffects
    string ExtraEffects = "_Nothing";
    if (eventName == "Easter" || eventName == "Halloween" || eventName == "Valentines" || eventName == "Thanksgiving" || eventName == "Christmas")
    {
        ExtraEffects = "_ExtraEffects";
    }

    //  Correct Event Name Displayed
    switch (eventDisplayName)
    {
        case "NewYears":
            {
                eventDisplayName = "New Years Day";
                break;
            }

        case "Valentines":
            {
                eventDisplayName = "Valentine's Day";
                break;
            }

        case "Thanksgiving":
            {
                eventDisplayName = "Thanksgiving Day";
                break;
            }

        case "Christmas":
            {
                eventDisplayName = "Christmas Day";
                break;
            }

        case "Mothers":
            {
                eventDisplayName = "Mother's Day";
                break;
            }

        case "Fathers":
            {
                eventDisplayName = "Father's Day";
                break;
            }

        case "Presidents":
            {
                eventDisplayName = "Presidents Day";
                break;
            }

        case "Labor":
            {
                eventDisplayName = "Labor Day";
                break;
            }

        case "Veterans":
            {
                eventDisplayName = "Veteran's Day";
                break;
            }

        case "Independence":
            {
                eventDisplayName = "Independence Day";
                break;
            }

        case "Memorial":
            {
                eventDisplayName = "Memorial Day";
                break;
            }

        case "Lincoln":
            {
                eventDisplayName = "Lincoln's Birthday";
                break;
            }

        case "Washington":
            {
                eventDisplayName = "Washington's Birthday";
                break;
            }

        case "Jefferson":
            {
                eventDisplayName = "Jefferson's Birthday";
                break;
            }

        case "Army":
            {
                eventDisplayName = "Army's Birthday";
                break;
            }

        case "AirForce":
            {
                eventDisplayName = "AirForce Birthday";
                break;
            }

        case "Navy":
            {
                eventDisplayName = "Navy Birthday";
                break;
            }

        case "MarineCorp":
            {
                eventDisplayName = "MarineCorp Birthday";
                break;
            }

        case "NationalGuard":
            {
                eventDisplayName = "NationalGuard Birthday";
                break;
            }

    }

    // Get the Event DataString from the Holidays Class
    string eventDateString = Holidays.GetEventUtcDateString(ViewBag.Message, DateTime.Now.Year);
    if (DateTime.Parse(eventDateString) < DateTime.UtcNow)
    {
        // Add a year if past event date and try again
        eventDateString = Holidays.GetEventUtcDateString(ViewBag.Message, DateTime.Now.Year + 1);
    }
    if (eventType == 0)
    {
        eventDateString = DateTime.Parse(eventDateString).ToShortDateString();
    }

}

<partial name="@ExtraEffects" />

<div id="countdownWindow" style=" width: 100%; height: 100%; margin: 0; background-color: transparent; background-image: url('@backgroundImageUrl'); background-repeat: no-repeat; background-size: cover;">

    <!-- (Count) -->
    <div class="ctdwn" style="padding: 0; background-color: transparent;">

        <div id="includes_countdown_window_padding">

            <!-- Event Name -->
            <h2 id="eventname">@eventDisplayName</h2>

            <!-- Event Date -->
            <h6 id="eventdate">@eventDateString</h6>

            <!-- Days -->
            <p id="days"></p>
            <h6 id="lbldays"></h6>

            <!-- Hours, Minutes, and Seconds -->
            <div class="row" style="width: 100%">

                <div class="col-4 center" style="width: 33.33%; min-width: 60px; text-align: center;">
                    <h4 id="hours"></h4>
                    <h6 id="lblhours"></h6>
                </div>
                <div class="col-4 center" style="width: 33.33%; min-width: 60px; text-align: center;">
                    <h4 id="minutes"></h4>
                    <h6 id="lblminutes"></h6>
                </div>
                <div class="col-4 center" style="width: 33.33%; min-width: 60px; text-align: center;">
                    <h4 id="seconds"></h4>
                    <h6 id="lblseconds"></h6>
                </div>
            </div>
            <div id="timezone"></div>
        </div>
    </div>

    <div id="countdownWindowPadding"></div>

</div>

<script>

    var eventType = ('@eventType');
    var eventName = ('@eventName');
    var eventDate = new Date(Date.parse('@eventDateString'));

    if (eventType == 1) {
       
        if (eventName.localeCompare("Autumn (Fall)") == 0) {
            eventName = "Autumn";
        };
    };

    eventCountdown(eventName, eventType, eventDate);

</script>