@{
    string eventName = ViewBag.Message;

    // Assign Svg files to floaters (Defaults to Snowflakes - Winter)
    string floater1 = "../Content/Svg/Site/Snowflake1.svg";
    string floater2 = "../Content/Svg/Site/Snowflake2.svg";
    string floater3 = "../Content/Svg/Site/Snowflake3.svg";
    string floater4 = "../Content/Svg/Site/Snowflake5.svg";

    // "sizeFactor" is used to increase or decrease overall size of floaters for each eventName
    int sizeFactor = 40;
    int floaterCount = 8;

    // Assign Svg files to floaters based on "eventName"
    switch (eventName)
    {
        case "Christmas":
            floater1 = "../Content/Svg/Site/Elf1.svg";
            floater2 = "../Content/Svg/Site/Santa1.svg";
            floater3 = "../Content/Svg/Site/Elf2.svg";
            floater4 = "../Content/Svg/Site/Santa2.svg";
            sizeFactor = 100;
            floaterCount = 6;
            break;
        case "Autumn":
            floater1 = "../Content/Svg/Site/Autumn1.svg";
            floater2 = "../Content/Svg/Site/Autumn2.svg";
            floater3 = "../Content/Svg/Site/Autumn3.svg";
            floater4 = "../Content/Svg/Site/Autumn4.svg";
            sizeFactor = 40;
            floaterCount = 12;
            break;
        case "Halloween":
            floater1 = "../Content/Svg/Site/Bat1.svg";
            floater2 = "../Content/Svg/Site/Bat2.svg";
            floater3 = "../Content/Svg/Site/Bat3.svg";
            floater4 = "../Content/Svg/Site/Bat4.svg";
            sizeFactor = 120;
            floaterCount = 12;
            break;
        case "Valentines":
            floater1 = "../Content/Svg/Site/Heart1.svg";
            floater2 = "../Content/Svg/Site/Heart2.svg";
            floater3 = "../Content/Svg/Site/Heart3.svg";
            floater4 = "../Content/Svg/Site/Heart3.svg";
            sizeFactor = 50;
            floaterCount = 10;
            break;
        case "Easter":
            floater1 = "../Content/Svg/Site/Egg1.svg";
            floater2 = "../Content/Svg/Site/Egg2.svg";
            floater3 = "../Content/Svg/Site/Egg3.svg";
            floater4 = "../Content/Svg/Site/Egg4.svg";
            sizeFactor = 75;
            floaterCount = 8;
            break;
        case "Thanksgiving":
            floater1 = "../Content/Svg/Site/Pumpkin.svg";
            floater2 = "../Content/Svg/Site/Turkey.svg";
            floater3 = "../Content/Svg/Site/Pumpkin.svg";
            floater4 = "../Content/Svg/Site/Turkey.svg";
            sizeFactor = 60;
            floaterCount = 8;
            break;
    }
}

<div id="floatercontainer">
    <img class="floater1" src="@floater1" />
    <img class="floater2" src="@floater2" />
    <img class="floater3" src="@floater3" />
    <img class="floater4" src="@floater4" />
</div>

<script>

    document.addEventListener("DOMContentLoaded", () => {
        const requestAnimationFrame = window.requestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.msRequestAnimationFrame;

        const transforms = ["transform", "msTransform", "webkitTransform", "mozTransform", "oTransform"];
        const transformProperty = transforms.find(prop => typeof document.body.style[prop] !== "undefined");

        let floaters = [];
        let browserWidth = document.documentElement.clientWidth;
        let browserHeight = document.documentElement.clientHeight;
        let resetPosition = false;

        const floaterCount = @floaterCount;

        class Floater {
            constructor(element, speed, xPos, yPos) {
                this.element = element;
                this.speed = speed;
                this.xPos = xPos;
                this.yPos = yPos;
                this.counter = 0;
                this.sign = Math.random() < 0.5 ? 1 : -1;
                this.element.style.opacity = .2 + Math.random();
                const svgSize = 12 + Math.random() * @sizeFactor + "px";
                this.element.style.width = svgSize;
                this.element.style.height = svgSize;
            }

            update() {
                this.counter += this.speed / 5000;
                this.xPos += this.sign * this.speed * Math.cos(this.counter) / 40;
                this.yPos += Math.sin(this.counter) / 40 + this.speed / 30;
                setTranslate3DTransform(this.element, Math.round(this.xPos), Math.round(this.yPos));
                if (this.yPos > browserHeight) this.yPos = -50;
            }
        }

        const setTranslate3DTransform = (element, xPosition, yPosition) => {
            const val = `translate3d(${xPosition}px, ${yPosition}px, 0)`;
            element.style[transformProperty] = val;
        };

        const generateFloaters = () => {
            const originalFloater1 = document.querySelector(".floater1");
            const originalFloater2 = document.querySelector(".floater2");
            const originalFloater3 = document.querySelector(".floater3");
            const originalFloater4 = document.querySelector(".floater4");

            const floaterContainer = originalFloater1.parentNode;
            browserWidth = document.documentElement.clientWidth;
            browserHeight = document.documentElement.clientHeight;

            for (let i = 0; i < floaterCount; i++) {
                const floaterClone1 = originalFloater1.cloneNode(true);
                const floaterClone2 = originalFloater2.cloneNode(true);
                const floaterClone3 = originalFloater3.cloneNode(true);
                const floaterClone4 = originalFloater4.cloneNode(true);

                floaterContainer.appendChild(floaterClone1);
                floaterContainer.appendChild(floaterClone2);
                floaterContainer.appendChild(floaterClone3);
                floaterContainer.appendChild(floaterClone4);

                const initialXPos = getPosition(50, browserWidth);
                const initialYPos = getPosition(50, browserHeight);
                const speed1 = 5 + Math.random() * 40;
                const speed2 = 5 + Math.random() * 40;
                const speed3 = 5 + Math.random() * 40;
                const speed4 = 5 + Math.random() * 40;

                floaters.push(new Floater(floaterClone1, speed1, initialXPos, initialYPos));
                floaters.push(new Floater(floaterClone2, speed2, initialXPos, initialYPos));
                floaters.push(new Floater(floaterClone3, speed3, initialXPos, initialYPos));
                floaters.push(new Floater(floaterClone4, speed4, initialXPos, initialYPos));
            }

            floaterContainer.removeChild(originalFloater1);
            floaterContainer.removeChild(originalFloater2);
            floaterContainer.removeChild(originalFloater3);
            floaterContainer.removeChild(originalFloater4);

            moveFloaters();
        };

        const moveFloaters = () => {
            floaters.forEach(floater => floater.update());

            if (resetPosition) {
                browserWidth = document.documentElement.clientWidth;
                browserHeight = document.documentElement.clientHeight;
                floaters.forEach(floater => {
                    floater.xPos = getPosition(50, browserWidth);
                    floater.yPos = getPosition(50, browserHeight);
                });
                resetPosition = false;
            }

            requestAnimationFrame(moveFloaters);
        };

        const getPosition = (offset, size) => Math.round(-1 * offset + Math.random() * (size + 2 * offset));

        const setResetFlag = () => {
            resetPosition = true;
        };

        window.addEventListener("resize", setResetFlag, false);
        generateFloaters();
    });
  
</script>